:root {
  --color-light: #eeeeee;
}

button {
  cursor: pointer;
  outline: 0;
  border: none;
  border-radius: 0.5em;
  font-size: 16px;
  padding: 0.5em 1em;
  background-color: var(--color-light);
  margin: 0.5em;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
  transition: all .3s;
}

button:hover {
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
}
